@import './styles/init-css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import '~primeflex/primeflex.css';

@import './styles/colors';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: $bgColor;
}

a {
  text-decoration: none;
  color: $white;
}
