<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/nmGWzTLMXy9x7mKd8NKPLmHtWGa.jpg" alt="" />
    </div>
    <div class="slide-pane">
      <h2 class="name">Minions: The Rise of Gru</h2>
      <div class="meta">
        <div class="info">
          <span class="raiting"> <span>star</span><span class="rating-value">7.8</span><span>/10</span> </span>
          <span>456 Ocen</span>
          <span>2022</span>
        </div>
      </div>
      <div class="description">
        Minionki Kevin, Stuart, Bob oraz Otto muszą ratować młodego Gru, który popadł w konflikt z grupą super
        złoczyńców znaną jako Vicious 6.
      </div>
    </div>
  </div>
</div>
